<!DOCTYPE html>
<html ng-app="main">
<head>
    <title>AngularJS Intro</title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
</head>
<body ng-controller="mainController" class="container-fluid">
    <div class="jumbotron">
        <h1>AngularJS Intro</h1>
        <p>just scratching the surface :)</p>
    </div>

    <section>
        <h3>Add new contact</h3>
        <input type="text" placeholder="name" ng-model="newName" />
        <input type="email" placeholder="email" ng-model="newEmail" />
        <button ng-click="createNewContact()">Create</button>
    </section>

    <h3>Contacts</h3>
    <p>
        Filter contacts:
        <input type="text" ng-model="filterText" />
    </p>
    <table class="table table-striped" ng-hide="loading || contacts.length == 0">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    <a ng-click="order('Name')"> Name</a>
                    <span ng-show="sortPredicate == 'Name'">
                        <span ng-show="sortReversed">v</span>
                        <span ng-hide="sortReversed">^</span>
                    </span>
                </th>
                <th>
                    <a ng-click="order('Email')">Email</a>
                    <span ng-show="sortPredicate == 'Email'">
                        <span ng-show="sortReversed">v</span>
                        <span ng-hide="sortReversed">^</span>
                    </span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts | orderBy: sortPredicate:sortReversed | filter: filterText as results"
            ng-dblclick="edit(contact.Id)">
                <td>{{$index + 1}}</td>
                <td>
                    <span ng-hide="contact.Editing">{{contact.Name}}</span>
                    <input type="text" ng-model="contact.NewName" ng-show="contact.Editing"/>
                </td>
                <td>
                    <span ng-hide="contact.Editing">{{contact.Email}}</span>
                    <input type="email" ng-model="contact.NewEmail" ng-show="contact.Editing" />
                </td>
                <td>
                    <a ng-click="delete(contact.Id)" ng-hide="contact.Editing">Delete</a>
                    <a ng-click="edit(contact.Id)" ng-hide="contact.Editing">Edit</a>
                    <a ng-click="applyEdit(contact.Id)" ng-show="contact.Editing">Apply</a>
                    <a ng-click="undoEdit(contact.Id)" ng-show="contact.Editing">Undo</a>
                </td>
            </tr>
            <tr ng-if="results.length == 0">
                <td colspan="4">
                    no results match
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-show="loading" class="alert alert-warning">
        <span class="alert">loading, please wait :)</span>
    </div>


    <div ng-show="!loading && contacts.length == 0" class="alert alert-info">
        <span class="alert">No contacts defined yet</span>
    </div>

    <script src="Scripts/app.js"></script>
</body>
</html>