<!DOCTYPE html>
<html ng-app="main">
<head>
    <title>AngularJS Intro</title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
</head>
<body ng-controller="mainController" class="container-fluid">
    <div class="jumbotron">
        <h1>AngularJS Intro</h1>
        <p>just scratching the surface :)</p>
    </div>

    <section>
        <h3>Add new contact</h3>
        <input type="text" placeholder="name" ng-model="newName" />
        <input type="email" placeholder="email" ng-model="newEmail" />
        <button ng-click="createNewContact()">Create</button>
    </section>

    <h3>Contacts</h3>
    <p>
        Filter contacts:
        <input type="text" ng-model="filterText" />
    </p>
    <table class="table table-striped" ng-hide="loading">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in contacts | filter: filterText">
                <td>{{contact.Name}}</td>
                <td>{{contact.Email}}</td>
            </tr>
        </tbody>
    </table>

    <div ng-show="loading" class="alert alert-warning">
        <span class="alert">loading, please wait :)</span>
    </div>

    <script src="Scripts/app.js"></script>
</body>
</html>